<nav class="main-menu">
  <ul>
      <li class="has-subnav" *ngFor="#menu of menus" [class.active]="menu.active" (click)="setActive(menu.id)">
          <a href="" [routerLink]="menu.href">
              <i [ngClass]="menu.icon"></i>
              <span class="nav-text">
                  {{menu.label}}
              </span>
          </a>
      </li>
  </ul>
  <ul class="logout">
      <li (click)="userLogout()">
         <a href="">
               <i class="fa fa-power-off fa-2x"></i>
              <span class="nav-text">
                  Logout
              </span>
          </a>
      </li>  
  </ul>
</nav>