<h1 class="page-header"><center>Personal info</center></h1>
<div class="row placeholders">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4"> 
	  
  		<div class="text-center">
          <img src="{{userObject.img_url}}" class="avatar img-circle img-responsive" alt="avatar">
          <h6>Upload a different photo...</h6>
        </div>
        
	  	<div class="personal-info">
	    	<form class="form-horizontal" role="form" [ngFormModel]="profileForm" (ngSubmit)="updateProfile(profileForm.value)">
	      		<div class="form-group">
	        		<label class="control-label">First name:</label>
	       			 <div>
	          			<input class="form-control" type="text" [ngFormControl]="profileForm.controls['first_name']">
	        		</div>
	      		</div>
	      		<div class="form-group">
	        		<label class="control-label">Last name:</label>
	        		<div>
	          			<input class="form-control" type="text" [ngFormControl]="profileForm.controls['last_name']">
	        		</div>
	      		</div>	
	      		<div class="form-group">
	        		<label class="control-label">Email:</label>
	        		<div>
	          			<input class="form-control" type="text" [ngFormControl]="profileForm.controls['email']">
	        		</div>
	      		</div>
	      		<div class="form-group">
	        		<label class="control-label">Password:</label>
	        		<div>
	          			<input class="form-control" type="password" [ngFormControl]="profileForm.controls['password']">
	        		</div>
	      		</div>
	      		<div class="form-group">
	        		<label class="control-label">Location:</label>
	        		<div>
	          			<input class="form-control" type="text" [ngFormControl]="profileForm.controls['location']">
	        		</div>
	      		</div>
	      		<div class="form-group">
	        		<label class="control-label">Image URL:</label>
	        		<div>
	          			<input class="form-control" type="text" [ngFormControl]="profileForm.controls['img_url']">
	        		</div>
	      		</div>
	      		<div class="form-group">
	        		<label class="control-label"></label>
	        		<div>
	          			<button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">UPDATE</button>
	          			<span></span>
	          			<input class="btn btn-default" value="Cancel">
	        		</div>
	      		</div>

	    	</form>
	  	</div>
  	</div>
</div>


<!-- Modal for alert -->
<my-modal [modalHeader]="modalHeader" [modalBody]="modalBody"></my-modal>
