<h1 class="page-header"><center>Share your NEWS</center></h1>
<div class="row placeholders">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2"> 
    <div class="well">
        <h4>Leave a Comment:</h4>
        <form role="form" [ngFormModel]="jobNewsForm" (ngSubmit)="postJobNews(jobNewsForm.value)">
            <div class="form-group">
                <textarea rows="3" class="form-control" placeholder="Post your JOB NEWS" [ngFormControl]="jobNewsForm.controls['news']"></textarea>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!jobNewsForm.valid">POST</button>
        </form>
    </div>
    <hr>
    <div class="media" *ngFor="#data of jobNews">
      <a href="#" class="pull-left">
          <img alt="" src="http://placehold.it/64x64" class="media-object">
      </a>
      <div class="media-body">
          <h4 class="media-heading"><a href="">{{data.user_name}}</a>
              <small>{{data.date | date}}</small>
          </h4>
          {{data.news}}
      </div>
    </div>
  </div>
</div>
